/* Write some CSS below */
body {
	font-family: 'Overpass', sans-serif;
	font-size: 18px;
	color: rgb(30, 30, 30);
	background-color: rgb(230, 230, 230);
	margin: 0px
}

h1,h2,h3 { 
	font-family: 'Chivo', sans-serif;
}

a {
	color: #3049DE;
	text-decoration: none;
	font-weight: bold;
}

/* Custom class design */

.btn-blue {
	background-color: #3049DE;
	color: white;
	padding: 10px 15px;
	border-radius: 2px;
}

.banner {
	background-image: url(images/background.jpg);
	background-size: cover;
	background-position: center;
	color: white;
	text-align: center;
	padding: 150px 0px;
}

.banner h1 {
	font-size: 40px;
	color: white;
}

.banner p {
	font-size: 20px;
	opacity: 0.7;
	margin-bottom: 40px;
}

.card-white {
	background-color: white;
	box-shadow: 1px 1px 10px rgba(0,0,0,0.1);
	padding: 18px;
	border-radius: 3px;
	margin: 20px;
}

.cards {
	display: grid;
	grid-template-columns: 0fr 0fr 0fr;
	grid-gap: 1px
}

footer {
	display: grid;
	grid-template-columns: 0fr;
	grid-gap: 0px
	background-color: black;
}
